
//colors
$veryDarkBlue: hsl(230, 29%, 20%);
$darkGrayishBlue: hsl(230, 11%, 40%);
$grayishBlue: hsl(231, 7%, 65%);
$lightGrayishBlue: hsl(207, 33%, 95%);
$red: hsl(0, 100%, 68%);
$white: #fff;


//fonts
$font-sm: 0.875rem;
$font-med: 1.125rem;


